body{
		height: 100%;
    	width: 100%;
	}

	#container{
		/*margin:5%;*/
	}

	h1{
		font-size:6.2em;
		color:#043464;
		font-family:"Interstate Light Comp", "Interstate Light Comp";
		padding-top:45px;
		padding-bottom:0px;
		margin-bottom:0px;
		margin-top:0px;
	}

	#waHeader{
		font-size:6.5em; 
		color:#043464;
		font-family: "Interstate Light Comp", "Interstate Light Comp";
		padding-top:40px;
		padding-bottom:0px;
		margin-bottom:-2px;
		margin-top:0px;
	}

	h2{											/* share the love header*/
		font-size:3em;
		color:#043464;
		font-family: "Interstate Light Comp", "Interstate Light Comp";
		text-align:left;
		margin-bottom:0px;
		margin-top: 46px;
		margin-left:55px;
	}

	a{
		text-decoration:none;
	}

	#couponCodeInfo{
		font-size:1.1em;
		color:#999;
		font-family:"Interstate";
		padding-top: 0px; 

	}

	#emailBoxContainer{
		/*margin-top:1%;*/
		display:inline;
	}

	#emailTextBox{
		font-size:1.1em;
		color:#999;
		font-family: "Interstate Light Comp", "Interstate Light Comp";
		margin-bottom:1%;  
		width:438px;
		height:43.4px;
		vertical-align:center;
		margin-top:35px;
		padding-left:15px;
	}

	#plus{
		height:43.4px;
		width:50px;
		vertical-align:top;
		display:inline;
		margin-top:35px;
	}

	.conditions{
		font-size:.9em;
		color:#999;
		font-family: "Interstate Light Comp", "Interstate Light Comp";
		margin-top:9px;
		width:430px;
		margin-left:auto;
		margin-right:auto;
		line-height:1.2em;
	}

	#welcomeAboardContent{
		width:60%;
		display:block;
		float:left;
		background-color: white;
	}

	#shareTheLoveContent{
		width:40%;
		display:block;
		float:left;
		background-color: white;
		/*margin-left:5%;*/
		margin-top:5%;
	}

	#rememberCouponCodeInfo{
		font-size:1.2em;
		color:#999;
		font-family: "Interstate";
		text-align:left;
		width:420px;
		margin-bottom: 54px;
		line-height:1.1em;
	}

	#inviteYourFriends{
		font-size:1.2em;
		line-height: 1.2em;
		color:#999;
		font-family: "Interstate";
		text-align:left;
		margin-bottom:0px;
		margin-top:5px;
		margin-left:54px;
	}

	#moreConditions{
		font-size:1.2em;
		line-height:1.2em;
		color:#999;
		font-family: "Interstate Thin Comp", "Interstate Light Comp";
		/*	padding-top:8%;*/
		width:370px;
		text-align:left;
		margin-top:84px;
	}

	.shoppingLinks{
		/*width:inherit;*/
		/*height:inherit;*/
		margin-left:0px;
		margin-right:34px;
		padding: 12px 10px 12px 10px;
		background-color:#356666;
	}

	.shoppingLinkText{
		font-size:1.2em;
		color:#FFF;
		font-family: "Interstate";
		text-align:center;
		padding:17px 3px 17px 3px;
		vertical-align: middle;
		text-decoration:none;
	}

	.rightShoppingLinkText{
		font-size:1.2em;
		color:#FFF;
		font-family: "Interstate";
		text-align:center;
		padding:17px 6px 17px 6px;
		vertical-align: middle;
		text-decoration:none;
	}

	#iconLinks{
		display:inline;
		margin-left:54px;
	}

	.facebook{
		width:22px;
		float:left;
		margin-right:18px;
		margin-top:20px;
		margin-left:54px;
	}

	.shareIcon{
		width:22px;
		float:left;
		margin-right:25px;
		margin-top:20px;
	}

	.grayOverlay{
	    display: none;
	    z-index: 9998;
	    background-color: gray;
	    opacity: 0.3;
	    width: 100%;
	    height: 1200px;
	    margin-top: 0px;
	    overflow:hidden;
	}


/* new to zeal? box styling*/
	.lightbox {
	    /** Hide the lightbox */
	    display: none;

	    /** Apply basic lightbox styling */
	    position: fixed;
	   	text-align:center;
	    z-index: 9999;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    color:#333333;
	    }

	.lightbox:after {
	    content: '';
	    display: table;
	    clear: both;
	}

	.lightbox .box {
	    width: -webkit-min-content;
	    width: -moz-min-content;
	    width: min-content;
	    /*min-width:500px;*/
	    width:650px;
	    height:376px;
	    margin: 2% auto;
	    /*padding:20px;*/
	    background-color:#FFF;
	    /*box-shadow: 0px 1px 26px -3px #777777;*/
	    position: relative;
		top: 50%;
		transform: translateY(-50%);
	   }

    .lightbox .title {
        margin:0;
        padding:0 0 10px 0px;
        border-bottom:1px #ccc solid;
        font-size:22px;
        }

    .lightbox .content {
        display:block;
        /*padding:10px 0 0 0px;*/
        font-size:18px;
        /*line-height:0px;*/
        }

    .lightbox .close {
        float:right;
        display:block;
        text-decoration:none;
        /*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
        font-size:22px;
        /*color:#858585;*/
        }

	.lightbox .open {
	    /* Show lightbox when mouse leaves the browser window */
	    display: block;
	    outline: none;
	}

/*welcome aboard box styling*/

	.welcome {
	    /** Hide the welcome */
	    display: none;

	    /** Apply basic welcome styling */
	    position: fixed;
	   	/*text-align:center;*/
	    z-index: 9999;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    color:#333333;
	    }

	.welcome:after {
	    content: '';
	    display: table;
	    clear: both;
	}

	.welcome .box {
	    width: -webkit-min-content;
	    width: -moz-min-content;
	    width: min-content;
	    /*min-width:500px;*/
	    width:834px;
	    height:400px;
	    overflow: hidden;
	    margin: 2% auto;
	    padding-left:44px;
	    background-color:#FFF;
	    /*box-shadow: 0px 1px 26px -3px #777777;*/
	    position: relative;
		top: 50%;
		transform: translateY(-50%);
	    }

    .welcome .title {
        margin:0;
        /*padding:0 0 10px 0px;*/
        border-bottom:1px #ccc solid;
        font-size:22px;
        }

    .welcome .content {
        display:block;
        /*padding:10px 0 0 0px;*/
        font-size:18px;
        line-height:22px;
        }

    .welcome .close {
        float:right;
        display:block;
        text-decoration:none;
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:22px;
        color:#858585;
        }

	.welcome .open {
	    /** Show welcome when mouse leaves the browser window */
	    display: block;
	    outline: none;
	    }